.ewg-image {
    display: block;
    max-width: 320px;
    max-height: 320px;
    width: auto;
    height: auto;
}

.ewg-button {
    outline: none;
    outline-width: 0;
}

.ewg-remove-button {
    margin-top: 10px;
}

.closeButton {
    background: url("../images/cross.png");
    border: none;
    width: 20px;
    height: 20px;
    object-fit: contain;
}
#wp-link-wrap, div.mce-inline-toolbar-grp{
    z-index: 160001!important;
}

